* {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#hs-label {
    display: none;
    text-align: center;
}

.answer-btn {
    color: gold;
    background-color: black;
    display: block;
    font-size: 32px;
    margin-bottom: 2%;
}

.highscore-pg {
    display: none;
} 

.container {
    display: block;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hs-timer {
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

#start-button {
    font-size: larger;
    color: gold;
    background-color: black;
}

button {
    border-style: solid;
    border-radius: 20px;
    
}

button:hover {
   opacity: 0.75;
}

.questions {
    display: flex;
    justify-content: center;
}

#view-hs {
    font-size: x-large;
    margin-top: 1em;
    color: gold;
    background-color: black;
}

#hs-div {
    display: block;
    justify-content: space-evenly;
    margin:0;
    width: 100%;
}

.back-btn {
    display: inline-block;
    width: auto;
    text-align: center;
    margin-top: 2%;
    background-color: darkred;
    color: white;
}

li {
    list-style: none;
    text-align: center;
}

.start-pg {
    display: block;
    font-size: larger;
    width: 50%;
}

#hs-list {
    width: 100%;
    text-align: center;
}

.questions {
    display: flex;
    justify-content: center;
    padding:5%;
    font-size: xx-large;
}

#current-score {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

#results {
    border-top-style: solid;
    padding-top: 2%;
}

/* #submit-score {
    display: none;
} */