* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.answer-btn {
    display: block;
    font-size: 32px;
    margin: 1%;
    padding: 1%;
}

.highscore-pg {
    display: none;
} 

.container {
    display: block;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hs-timer {
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

#start-button {
    padding: .5em;
    font-size: larger;
    background-color: aquamarine;
}

button {
    border-radius: 25%;
}

button:hover {
   
}

/* button {
    background-color: aquamarine;
} */

#view-hs {
    padding: .5em;
    font-size: x-large;
    margin-top: 1em;
    background-color: aquamarine;
}

#hs-div {
    display: inline-block;
    justify-content: space-evenly;
}

.back-btn {
    background-color: darkred;
    color: white;
}

.start-pg {
    display: block;
    font-size: larger;
}

.hs-list {
    display: flex;
    justify-content: center;
}

.questions {
    display: flex;
    justify-content: center;
    padding:5%;
    font-size: xx-large;
}

#current-score {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

